%main#main.main{role: "main"}

  %section.section.__bg{role: "region"}
    .ctn
      = haml '/views/common/_products_nav'.to_sym
      .p-t_2.p-b_4
        = haml '/views/common/_filter_products'.to_sym

  %section.section.__bg.__bordered{role: "region"}
    .ctn
      .p-t_4.p-b_4
        .grid
          .grid-i.__grid-7
            = haml '/views/common/_products_gallery'.to_sym
          .grid-i.__grid-5
            %aside.aside
              .m-b_2
                %h2 Кофе растворимый
                %h2 Бразилия
              .m-b_4
                .custom-select
                  %p
                    %a{href: "#"}
                      %span 100 гр.
                      %i
                  %ul
                    %li
                      %a{href: "#", data: {value: "1"}} 100 гр.
                    %li
                      %a{href: "#", data: {value: "2"}} 200 гр.
                    %li
                      %a{href: "#", data: {value: "3"}} 300 гр.
                  %input{type: "hidden", name: "", value: "1"}
                %span.tx.__xl{style: "margin: 0 15px;"} &mdash;
                %span.tx.__xl 250 р.
              .m-b_3
                %a{href: "/bag.html", class: "order-link js-order-link"}
                  Оформить заказ
                  %i.fa.fa-chevron-right
                %a{href: "#", class: "form_button grid-i __grid-2 js-in-bag"} В корзину
              .m-b_3
                %article
                  %p Черный чай с&nbsp;вербеной и&nbsp;мятой&nbsp;&mdash; освежает и&nbsp;дарит приятную прохладу. Кельтские жрецы готовили из&nbsp;вербены напиток любви, который приводил в&nbsp;веселое расположении духа и&nbsp;гасил негативные эмоции. Залить водой 85&deg;С. &mdash;&nbsp;95&deg;С.&nbsp;Настаивать 3-5&nbsp;минуты. Черный чай с&nbsp;вербеной и&nbsp;мятой&nbsp;&mdash; освежает и&nbsp;дарит приятную прохладу. Кельтские жрецы готовили из&nbsp;вербены напиток любви, который приводил в&nbsp;веселое расположении духа и&nbsp;гасил негативные эмоции. Залить водой 85&deg;С. &mdash;&nbsp;95&deg;С.&nbsp;Настаивать 3-5&nbsp;минуты. Черный чай с&nbsp;вербеной и&nbsp;мятой&nbsp;&mdash; освежает и&nbsp;дарит приятную прохладу. Кельтские жрецы готовили из&nbsp;вербены напиток любви, который приводил в&nbsp;веселое расположении духа и&nbsp;гасил негативные эмоции. Залить водой 85&deg;С. &mdash;&nbsp;95&deg;С.&nbsp;Настаивать 3-5&nbsp;минуты. Черный чай с&nbsp;вербеной и&nbsp;мятой&nbsp;&mdash; освежает и&nbsp;дарит приятную прохладу. Кельтские жрецы готовили из&nbsp;вербены напиток любви, который приводил в&nbsp;веселое расположении духа и&nbsp;гасил негативные эмоции. Залить водой 85&deg;С. &mdash;&nbsp;95&deg;С.&nbsp;Настаивать 3-5&nbsp;минуты.
              %img{src: "/assets/images/fake/like.png", alt: ""}

  %section.section.__bg.m-b_4{role: "region"}
    .ctn
      .p-t_4.p-b_6
        .grid
          .grid-i.__grid-7
            %p.tx.__xl.m-b_3
              %b Коментарии&nbsp;
              (23)
            = haml '/views/common/_comments'.to_sym

  %section.section.__bg{role: "region"}
    .ctn
      .p-t_5.p-b_4
        %p.alpha.tx.__center.m-b_5
          %a{href: "/catalog"} Придётся по вкусу
        .grid
          - 1.upto(3) do
            .grid-i.__grid-4
              = haml '/views/common/_products_item'.to_sym

%footer#footer.footer.__home{role: "contentinfo"}
  .ctn
    = haml '/views/layouts/_footer'.to_sym