%main#main.main{role: "main"}

  %section.section.__bg{role: "region"}
    .ctn
      = haml '/views/common/_products_nav'.to_sym
      .p-t_2.p-b_4
        = haml '/views/common/_filter_products'.to_sym

  %section.section.__bg.__bordered{role: "region"}
    .ctn
      .p-t_4.p-b_4
        .grid
          .grid-i.__grid-7
            %img{src: "/assets/images/fake/photo_1.png", class: "va-t", alt: "Кофе растворимый Бразилия", width: 540, height: 400}
          .grid-i.__grid-5
            %aside.aside
              %h2 Кофе растворимый
              %h2 Бразилия

  %section.section.__bg.m-b_4{role: "region"}
    .ctn
      .p-t_4.p-b_6
        .grid
          .grid-i.__grid-7
            %p.tx.__xl.m-b_3
              %b Коментарии&nbsp;
              (23)
            = haml '/views/common/_comments'.to_sym
          .grid-i.__grid-5
            %aside.aside
              %p.tx.__xl.m-b_3
                %b Состав подарка:
              .grid
                - 1.upto(4) do |i|
                  .grid-i.__grid-1
                    %img{src: "/assets/images/fake/thumb_#{i}.png", class: "va-t", alt: "", with: 60, height: 60}
                  .grid-i.__grid-3
                    %p Кофейное зерно в&nbsp;шоколаде
                    %p &laquo;Ирландский крем&raquo;
                    %p 1&nbsp;шт.

  %section.section.__bg{role: "region"}
    .ctn
      .p-t_5.p-b_4
        %p.alpha.tx.__center.m-b_5
          %a{href: "/catalog"} Придётся по вкусу
        .grid
          - 1.upto(3) do
            .grid-i.__grid-4
              = haml '/views/common/_products_item'.to_sym

%footer#footer.footer.__home{role: "contentinfo"}
  .ctn
    = haml '/views/layouts/_footer'.to_sym